@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "WriterAdd";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<form class="form-group" method="post" enctype="multipart/form-data">
    <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Yazar Bilgileri Düzenleme</h2>
                    <br>
                   
                    <form class="forms-sample">
                        @Html.HiddenFor(x => x.WriterID,new {@class ="form-control"})
                        @Html.HiddenFor(x => x.WriterStatus,new {@class ="form-control"})
                        @Html.HiddenFor(x => x.WriterImage,new {@class ="form-control"})
                      <div class="form-group">
                        <label for="exampleInputName1"><h5>Yazar Ad Soyad</h5></label>
                        @Html.TextBoxFor(x => x.WriterName, new {@class ="form-control"})
                        @Html.ValidationMessageFor(x =>x.WriterName)
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3"><h5>Mail Adresi></h5></label>
                        @Html.TextBoxFor(x => x.WriterMail, new {@class ="form-control"})
                        @Html.ValidationMessageFor(x =>x.WriterMail)
                       </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4"><h5>Password</h5></label>
                        @Html.PasswordFor(x => x.WriterPassword, new {@class ="form-control"})
                        @Html.ValidationMessageFor(x =>x.WriterPassword)
                      </div>
                     <div class="form-group">
                        <label><h5>Yazar Resmi</h5></label>
                        <input type="file" name="WriterImage">
                        
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1"><h5>Yazar Hakkında</h5></label>
                       @Html.TextAreaFor(x => x.WriterAbout,10,3, new {@class ="form-control"})
                      </div>
                      <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                      <button class="btn btn-light">Vazgeç</button>
                    </form>
                  </div>
                </div>
              </div>






</form>

