@model EntityLayer.Concrete.AppUser
@{
    ViewData["Title"] = "WriterProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


    <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title">Yazar Bilgileri</h2>
                    <br> 
                    <form class="forms-sample">
                      <div class="form-group">
                        <label for="exampleInputName1"><h5>Yazar Ad Soyad</h5></label>
                        @Html.TextBoxFor(x => x.NameSurname, new {@class ="form-control",@readonly = "readonly"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputName1"><h5>Kullanıcı Adı</h5></label>
                        @Html.TextBoxFor(x => x.UserName, new {@class ="form-control",@readonly = "readonly"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail3"><h5>Mail Adresi</h5></label>
                        @Html.TextBoxFor(x => x.Email, new {@class ="form-control",@readonly = "readonly"})
                       </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4"><h5>Telefonu</h5></label>
                        @Html.TextBoxFor(x => x.PhoneNumber, new {@class ="form-control", @readonly = "readonly"})
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword4"><h5>Resim</h5></label>
                        <br />
                         <img src= "@Url.Content(Model.ImageUrl)" alt="Image" />
                      </div>
                    </form>
                  </div>
                </div>
              </div>



